.section-title {
  text-align: center;
  margin-bottom: 35px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
}

/* Categories Start */
.categories {
  margin: 40px 0;
}

.categories .category-list {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}
/* Categories End */

/* Products Start */
.products {
  margin-bottom: 40px;
}

.products .product-list {
  /* display: flex;
  gap: 20px;
  flex-wrap: wrap; */
}
/* Products End */

/* Campaign Start */
.campaigns .campaigns-wrapper {
  display: flex;
  gap: 30px;
  margin: 30px 0;
  flex-wrap: wrap;
}
/* Campaign End */

/* Blogs Start */
.blogs {
  margin-bottom: 30px;
}

.blogs .blog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 768px) {
  .blogs .blog-list {
    grid-template-columns: 1fr;
  }
}
/* Blogs End */

/* Brands Start */
.brands {
  margin: 40px 0;
}

.brand-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #dee0ea;
  padding: 30px 5px;
} 

.brand-list .brand-item {
  opacity: 0.4;
  transition: 0.2s ease opacity;
}

.brand-list .brand-item:hover {
  opacity: 1;
}
/* Brands End */

/* Policy Start */
.policy {
  border: 1px solid #dee0ea;
  margin-top: 40px;
}

.policy .policy-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 0;
}

.policy .policy-list .policy-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.policy .policy-item i {
  font-size: 50px;
  display: flex;
}

.policy .policy-item .policy-texts {
  display: flex;
  flex-direction: column;
}

.policy .policy-texts strong {
  font-weight: 600;
}

.policy .policy-texts span {
  font-size: 12px;
}

@media (max-width: 768px) {
  .policy .policy-list {
    flex-direction: column;
  }
}
/* Policy End */